.dashboard-arrow-home {
  transform: rotate(180deg);
  margin-right: 1rem;
  vertical-align: middle;
  height: 2rem;
}

.title {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 1440px) {
  .title {
    font-size: 2rem;
  }
}
