/* fasilitator */

@media (min-width: 1440px) {
  main.dashboard
    section.schedule
    .card
    .schedule-list
    .course-list
    .course-item {
    background-color: var(--light-blue);
    /* background-color: goldenrod; */
    height: 13rem;
    min-width: 25rem;

    border-radius: 20px;
    margin-right: 2rem;
  }

  main
    section.schedule
    .card
    .schedule-list
    .course-list
    .course-item
    .course-title {
    top: 1rem;
    left: 1rem;
  }

  main
    section.schedule
    .card
    .schedule-list
    .course-list
    .course-item
    svg.list-icon {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
    width: auto;
    height: 1.4rem;
  }

  /* fasilitator */
  main.dashboard section.schedule .card .schedule-list .fasilitator-item {
    height: 5rem;
  }

  main.dashboard
    section.schedule
    .card
    .schedule-list
    .fasilitator-item
    .course-time {
    font-size: 1.3rem;
  }

  main.dashboard
    section.schedule
    .card
    .schedule-list
    .fasilitator-item
    .student-count {
    font-size: 1.6rem;
  }
}
