/* .main-container {
  height: 100%;
  padding: 2% 1%;
} */

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-container .card,
.main-container table.my-class-table {
  width: 100%;
}

.main-container table.my-class-table thead tr,
.main-container table.new-class-table thead tr {
  line-height: 3rem;
  font-size: 0.9rem;
}

.main-container table.my-class-table .table-category,
.main-container table.my-class-table .table-description,
.main-container table.my-class-table .table-status,
.main-container table.new-class-table .table-category,
.main-container table.new-class-table .table-level,
.main-container table.new-class-table .table-description,
.main-container table.new-class-table .table-status {
  display: none;
}

.main-container table.my-class-table tbody tr {
  vertical-align: middle;
  background-color: white;
  border-bottom: 3px solid var(--light-blue);
}

.main-container table.my-class-table tbody tr th {
  text-align: center;
  /* padding-bottom: 0; */
}

.main-container table.my-class-table tbody tr th {
  padding-bottom: 0;
}

.main-container table.my-class-table thead tr th:first-child,
.main-container table.my-class-table tbody tr th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 0.9rem;
  vertical-align: middle;
}

.main-container table.my-class-table thead tr th:not(.table-title),
.main-container table.new-class-table thead tr th:not(.table-title) {
  text-align: center;
}
.main-container table.my-class-table tbody tr td:not(.table-title),
.main-container table.new-class-table tbody tr td:not(.table-title) {
  text-align: center;
}

.main-container .search-filter {
  padding: 8px 15px 8px 15px;
  background-color: rgba(238, 238, 238, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Roboto;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
}

.main-container .search-filter select {
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

/* new class table */
.main-container table.new-class-table tbody tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.main-container table.my-class-table tbody tr td:last-child,
.main-container table.new-class-table tbody tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-container table tbody tr td,
.main-container table tbody tr th {
  /* background-color: red; */
  padding: 5px;
  font-size: 0.8rem;
  vertical-align: middle;
}

.badge-ongoing {
  background-color: rgba(210, 222, 237, 1);
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  color: var(--blue);
}

.main-container table.my-class-table tbody tr td .score {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  color: rgba(81, 231, 43, 1);
}

.main-container .card .card-body .view-all {
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
}

.main-container input::placeholder {
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.main-container table.new-class-table tbody tr {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.main-container table.new-class-table tbody tr td {
  padding: 10px;
}

main .pagination-container {
  font-family: Montserrat;
  margin-left: 3px;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  padding-right: 10px;
  padding-left: 10px;
}

main .pagination-container .table-page {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 5px;
  font-size: 0.7rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

main .pagination-container .page-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .pagination-container .page-number .table-page:not(.active) {
  display: none;
}

main .pagination-container .table-page:first-child img {
  transform: rotate(180deg);
}

main .pagination-container .table-page:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

main .pagination-container .table-page img {
  height: 50%;
}

main .pagination-container .active {
  background-color: var(--blue);
  color: white;
}

.main-container .btn-register {
  font-size: 0.8rem;
}
/* activity 2 my class */
.main-container .card .sort-by-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
  width: fit-content;
}

.main-container .card .sort-by-container .sort-by-text {
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  color: rgba(154, 154, 154, 1);
  white-space: nowrap;
}

.main-container .card select {
  font-family: Montserrat;
  font-size: 90%;
  font-style: normal;
  font-weight: 500;
  border: none;
  outline: none;
}

/* .main-container .card .sort-by-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

.main-container .card .sort-by-container .caret-container {
  height: 100%;
  /* margin-left: 10%; */
}

@media (min-width: 768px) {
  /* .main-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
  } */

  .main-container table.my-class-table .table-description,
  .main-container table.my-class-table .table-status,
  .main-container table.new-class-table .table-description,
  .main-container table.new-class-table .table-level,
  .main-container table.new-class-table .table-status {
    display: table-cell;
  }

  main .pagination-container .page-number .table-page:not(.active) {
    display: flex;
  }

  /* activity 2 my class */

  .main-container .card input.my-class-search {
    height: 2.25rem;
    margin: 0;
  }

  .main-container .card input.my-class-search::placeholder {
    font-size: 0.9rem;
  }

  .main-container .card button.search {
    height: 2.25rem;
    font-size: 0.9rem;
  }

  .main-container .card .sort-by-container {
    width: fit-content;
  }

  .main-container .card .sort-by-container .sort-by-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  /* .main-container {
    width: 78%;
  } */

  .main-container table.my-class-table .table-category,
  .main-container table.new-class-table .table-category {
    display: table-cell;
  }

  .main-container table.my-class-table thead tr,
  .main-container table.new-class-table thead tr {
    line-height: 3rem;
    font-size: 0.9rem;
  }

  .main-container .search-filter {
    font-size: 0.9rem;
  }

  /* new class table */
  .main-container table.new-class-table tbody tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .main-container table tbody tr td,
  .main-container table tbody tr th {
    /* background-color: red; */

    font-size: 1rem;
  }

  .badge-ongoing {
    font-size: 0.9rem;
  }

  .main-container table.my-class-table tbody tr td .score {
    font-size: 1.7rem;
  }

  .main-container .card .card-body .view-all {
    font-family: Montserrat;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
  }

  .main-container input::placeholder {
    font-size: 0.9rem;
  }

  .main-container table.new-class-table tbody tr {
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

  .main-container table.new-class-table tbody tr td {
    padding: 1rem;
  }

  main .pagination-container {
    font-size: 0.8rem;
  }

  main .pagination-container .table-page {
    font-size: 0.8rem;
  }

  .main-container .btn-register {
    font-size: 0.9rem;
  }

  /* activity 2 my class */

  .main-container .card input.my-class-search {
    height: 2.75rem;
    margin: 0;
  }

  .main-container .card input.my-class-search::placeholder {
    font-size: 1rem;
  }

  .main-container .card button.search {
    height: 2.75rem;
    font-size: 1rem;
  }

  .main-container .card .sort-by-container {
    width: fit-content;
    padding: 0 1rem;
  }

  .main-container .card .sort-by-container select {
    font-size: 1.2rem;
  }

  .main-container .card .sort-by-container .sort-by-text {
    font-size: 1.1rem;
  }
}

@media (min-width: 1440px) {
  /* .main-container {
    width: 74%;
  } */

  .main-container .card .card-header {
    font-size: 1.5rem;
  }

  .main-container table.my-class-table thead tr,
  .main-container table.new-class-table thead tr {
    line-height: 3rem;
    font-size: 1.3rem;
  }

  .main-container .search-filter {
    font-size: 1.2rem;
  }

  /* new class table */
  .main-container table.new-class-table tbody tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .main-container table tbody tr td,
  .main-container table tbody tr th {
    /* background-color: red; */

    font-size: 1.2rem;
  }

  .badge-ongoing {
    font-size: 1.1rem;
  }

  .main-container table.my-class-table tbody tr td .score {
    font-size: 2rem;
  }

  .main-container .card .card-body .view-all {
    font-size: 1.1rem;
  }

  .main-container input::placeholder {
    font-size: 1.2rem;
  }

  .main-container table.new-class-table tbody tr {
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  }

  .main-container table.new-class-table tbody tr td {
    padding: 1.1rem;
  }

  main .pagination-container {
    font-size: 1rem;
  }

  main .pagination-container .table-page {
    font-size: 1rem;
  }

  .main-container .btn-register {
    font-size: 1.2rem;
  }

  /* activity 2 my class */
  .main-container .card input.my-class-search {
    height: 3rem;
    margin: 0;
  }

  .main-container .card input.my-class-search::placeholder {
    font-size: 1rem;
  }

  .main-container .card button.search {
    height: 2.9rem;
    font-size: 1rem;
  }
}
