.reset-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.reset-container .back-to-home {
  position: fixed;
  top: 3%;
  left: 5%;
}

.reset-container .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-container .left-side img {
  width: 50%;
  height: 100%;
}

.reset-container .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3% 8% 8% 8%;
  height: 100%;
  width: 80%;
}

.reset-container .right-side h1 {
  text-align: center;
  font-family: Kanit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  color: black;
}

.reset-container .right-side h2 {
  text-align: center;
  font-family: Kanit;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  color: black;
  margin-bottom: 3%;
}

.reset-container .right-side h2.your-new {
  font-size: 0.95rem;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.reset-container .right-side h3 {
  font-family: Kanit;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: rgba(131, 127, 143, 1);
}

.reset-container .right-side label {
  background-color: white;
}

.reset-container .right-side .form-container {
  margin-bottom: 4%;
}

.reset-container .right-side .btn-container .btn-login {
  cursor: pointer;
  height: 2.5rem;
  font-size: 1rem;
  width: 100%;
  background-color: var(--blue);
  color: white;
  border-radius: 7px;
  text-align: center;
  font-family: Kanit;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-container .right-side .btn-container .btn-login:hover {
  background-color: var(--dark-blue);
}

.reset-container .right-side .form-container input.activation-code {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  width: 15%;
  text-align: center;
}

.reset-container .right-side .resend {
  margin-bottom: 20%;
}

.reset-container .right-side .resend {
  position: relative;
  background-color: transparent;
  bottom: 5%;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: Kanit;
  font-size: 0.825rem;
  font-style: normal;
  font-weight: 500;
  color: #ada9bb;
  text-decoration: none;
}

.reset-container .right-side .resend span {
  font-family: Roboto;
  font-size: 0.825rem;
  font-style: normal;
  font-weight: 600;
  color: var(--blue);
  background-color: transparent;
}

.reset-container .right-reset-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  right: 50%;
  left: 50%;
  height: 0;
  width: 0;
  z-index: -1;
  /* background: red; */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15% 0;
  transition: all 0.5s ease;
  overflow: hidden;
  opacity: 0;
}

.reset-container .show-overlay {
  display: flex;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 2;
}

.reset-container .right-reset-overlay h1 {
  color: white;
  font-family: Kanit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
}

.reset-container .right-reset-overlay h2 {
  text-align: center;
  font-family: Kanit;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  color: white;
}

.reset-container .right-reset-overlay img {
  height: 60%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .reset-container .back-to-home {
    top: 5%;
    left: 5%;
  }
  .reset-container {
    flex-direction: row;
  }

  .reset-container .left-side {
    background-color: var(--light-blue);
    height: 100%;
    width: 50%;
  }

  .reset-container .right-side {
    width: 50%;
    padding: 14% 5% 13% 5%;
  }

  .reset-container .right-side h2 {
    margin-bottom: 5%;
  }

  .reset-container .right-side .form-container {
    margin-top: 10%;
  }

  .reset-container .right-reset-overlay {
    top: 50%;
    right: 25%;
    left: 75%;
  }

  .reset-container .show-overlay {
    height: 100vh;
    width: 50vw;
    z-index: 2;
    padding: 10% 0;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    opacity: 1;
    z-index: 2;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .reset-container {
    flex-direction: row;
  }

  .reset-container .back-to-home {
    transform: scale(1.2);
  }

  .reset-container .left-side {
    background-color: var(--light-blue);
    height: 100%;
    width: 50%;
  }

  .reset-container .right-side {
    width: 50%;
    padding: 10% 8% 8% 8%;
  }

  .reset-container .right-side h1 {
    font-size: 2.5rem;
  }

  .reset-container .right-side h2 {
    font-size: 1.2rem;
    margin-bottom: 5%;
  }

  .reset-container .right-side h3 {
    font-size: 0.95rem;
  }

  .reset-container .right-side .form-container input {
    height: 3rem;
    padding: 1rem 1.4rem;
    font-size: 1.2rem;
    border-radius: 10px;
  }

  .reset-container .right-side .form-container input::placeholder {
    font-size: 1.2rem;
  }

  .reset-container .right-side .reset-container .btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .reset-container .right-side .btn-container .btn-login {
    cursor: pointer;
    height: 3rem;
    font-size: 1.2rem;
    width: 100%;
    background-color: var(--blue);
    color: white;
    border-radius: 7px;
    text-align: center;
    font-family: Kanit;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reset-container .right-side .btn-container .btn-login:hover {
    background-color: var(--dark-blue);
  }

  .reset-container .right-reset-overlay h1 {
    font-size: 2.5rem;
  }

  .reset-container .right-reset-overlay h2 {
    font-size: 1.2rem;
  }

  .reset-container .right-reset-overlay img {
    height: 70%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .reset-container .right-side {
    padding: 10% 10% 8% 10%;
  }
}

/* 1440 up devices */
@media (min-width: 1440px) {
  .reset-container .right-side {
    width: 50%;
    padding: 14% 8.5% 12% 8.5%;
  }

  .reset-container .back-to-home {
    transform: scale(1.3);
  }

  .reset-container .right-side .form-container input {
    height: 4rem;
    padding: 1rem 1.4rem;
    font-size: 1.5rem;
    border-radius: 10px;
  }

  .reset-container .right-side .form-container input::placeholder {
    font-size: 1.25rem;
  }

  .reset-container .right-side .reset-container .btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .reset-container .right-side .btn-container .btn-login {
    cursor: pointer;
    height: 4rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: var(--blue);
    color: white;
    border-radius: 7px;
    text-align: center;
    font-family: Kanit;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reset-container .right-side .btn-container .btn-login:hover {
    background-color: var(--dark-blue);
  }

  .reset-container .right-reset-overlay {
    padding: 8% 0;
  }
  .reset-container .right-reset-overlay h1 {
    font-size: 2.7rem;
  }

  .reset-container .right-reset-overlay h2 {
    font-size: 1.5rem;
  }

  .reset-container .right-reset-overlay img {
    height: 70%;
  }
}
