main.dashboard {
  height: 100%;
  padding: 2% 1%;
}

main.dashboard section .card {
  border-radius: 10px;
}

main.dashboard section .card .title {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  padding: 0.6rem 1rem;
}

main.dashboard .fab-message {
  display: none;
}

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main.dashboard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    overflow-y: scroll;
    z-index: 2;
  }

  main.dashboard .fab-message {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    z-index: 3;
    background-color: var(--blue);
    padding: 0.7rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 10%;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  main.dashboard .fab-message:hover {
    background-color: var(--dark-blue);
  }

  main.dashboard .fab-message svg {
    max-height: 2rem;
    max-width: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main.dashboard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 78%;
    overflow-y: scroll;
    z-index: 2;
    display: flex;
  }

  main.dashboard .fab-message {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* 1440 up devices */
@media (min-width: 1440px) {
  main.dashboard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 74%;
    overflow-y: scroll;
    z-index: 2;
    display: flex;
  }

  main.dashboard section .card {
    border-radius: 20px;
  }

  main.dashboard section .card .title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    padding: 1.2rem 1.5rem;
  }
}
