.overlay-right-bg-black {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
  overflow: hidden;
}

.show-overlay-right {
  height: 100vh;
}

aside.message-container {
  position: fixed;
  padding: 0.6rem 1rem;
  top: calc(48px + 1rem);
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  height: 0;
  width: auto;
  background-color: white;
  z-index: 1024;
  transition: all 0.5s ease;
  overflow: hidden;
  opacity: 0;
  border-radius: 10px;
}

aside.message-container.show {
  height: calc(100% - 2rem - 48px);
  width: auto;
  opacity: 1;
  overflow-y: scroll;
}

aside.message-container .title {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
}

aside.message-container img.circle-plus {
  width: 1.8rem;
}

aside.message-container .search-box {
  position: relative;
  background-color: var(--light-blue);
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
  min-height: 2.5rem;
  height: fit-content;
  margin: 5% 0;
  overflow: hidden;
}

aside.message-container .search-box input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.5rem 0;
  margin-left: 3rem;
}

aside.message-container .search-box input::placeholder {
  color: rgba(0, 0, 0, 1);
  font-size: 0.9rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

aside.message-container .search-box img.search-icon {
  position: absolute;
  height: 100%;
  max-width: 1.5rem;
  left: 1rem;
}

aside.message-container .message {
  margin-top: 3%;
}

aside.message-container .message img {
  margin-right: 5%;
  width: 3rem;
}

aside.message-container .message {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

aside.message-container .message .sender-name {
  font-family: Kanit;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
}
aside.message-container .message .message-content,
aside.message-container .message .message-timestamp {
  font-family: Kanit;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  color: rgba(120, 120, 120, 1);
}

aside.message-container .message .message-timestamp {
  position: absolute;
  right: 0;
}

/* aside.message-container .message .sender-name,
aside.message-container .message .message-content {
  width: 8rem;
} */

aside.message-container .message .message-timestamp {
  max-width: fit-content;
}

aside.message-container .message .message-body {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (min-width: 768px) {
  .overlay-right-bg-black {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0;
    width: 100vw;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease;
    opacity: 0;
    overflow: hidden;
  }

  .show-overlay-right {
    height: 100vh;
    width: 100vw;
    opacity: 1;
    z-index: 100;
  }

  aside.message-container {
    position: fixed;
    padding: 0.6rem 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 28%;
    height: calc(100% - 2rem - 48px);
    width: calc(72% - 1rem);
    background-color: white;
    z-index: 1024;
    transition: all 0.5s ease;
    overflow: hidden;
    opacity: 0;
    border-radius: 10px;
    top: 1rem;
  }

  aside.message-container.show {
    opacity: 1;
    overflow-y: scroll;
  }
}

@media (min-width: 992px) {
  .overlay-right-bg-black {
    position: static;
    height: fit-content;
    width: 90%;
    z-index: 0;
    background-color: transparent;
    transition: all 0.5s ease;
    opacity: 1;
    /* background: red; */
  }

  aside.message-container {
    position: static;
    padding: 1rem 1rem;
    min-height: 100%;
    height: fit-content;
    width: calc(100% - 1rem);
    background-color: white;
    z-index: 4;
    transition: all 0.5s ease;
    overflow: hidden;
    opacity: 1;
    border-radius: 10px;
    margin-left: 1rem;
    /* overflow-y: scroll; */
  }

  aside.message-container.show {
    height: calc(100% - 2rem - 48px);
    width: auto;
    opacity: 1;
    overflow-y: scroll;
  }
}

@media (min-width: 1440px) {
  aside.message-container .title {
    font-size: 2rem;
    padding-left: 1rem;
  }
  aside.message-container img.circle-plus {
    width: 1.8rem;
  }

  aside.message-container .search-box {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
    min-height: 3rem;
  }

  aside.message-container .search-box input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1.2rem 0;
    margin-left: 4rem;
  }

  aside.message-container .search-box input::placeholder {
    color: rgba(0, 0, 0, 1);
    font-size: 1.5rem;
  }

  aside.message-container .search-box img.search-icon {
    position: absolute;
    height: 100%;
    max-width: 2rem;
    left: 1rem;
  }

  aside.message-container .message {
    margin-top: 5%;
  }

  aside.message-container .message img {
    margin-right: 8%;
    width: 4.8rem;
  }

  aside.message-container .message .sender-name {
    font-size: 1.7rem;
    width: 90%;
  }
  aside.message-container .message .message-content,
  aside.message-container .message .message-timestamp {
    font-size: 1.4rem;
  }
}
