main.dashboard .schedule-container {
  width: 100%;
}

main.dashboard section.schedule {
  width: 100%;
}

main.dashboard section.schedule .card .date-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main.dashboard section.schedule .card .date-header .calendar-icon {
  padding-right: 1rem;
  padding-left: 1rem;
  height: 1.6rem;
}

main.dashboard section.schedule .card .date-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

main.dashboard section.schedule .card .date-body .date-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 1% 2% 1%;
  border-radius: 20px;
  width: 1.8rem;
}

main.dashboard section.schedule .card .date-body .date-item span {
  font-family: Kanit;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
}

main.dashboard section.schedule .card .date-body .date-item span.day-name {
  margin-bottom: 1%;
  color: rgba(152, 152, 152, 1);
}
main.dashboard section.schedule .card .date-body .date-item:hover,
main.dashboard section.schedule .card .date-body .date-item.active {
  background-color: var(--blue);
}
main.dashboard section.schedule .card .date-body .date-item:hover span,
main.dashboard section.schedule .card .date-body .date-item.active span {
  color: white;
}

main.dashboard section.schedule .card .all-schedule {
  font-family: "Roboto";
  font-size: 0.8rem;
  font-style: "normal";
  font-weight: 500;
  margin-right: 0.4rem;
}

main.dashboard section.schedule .card .all-schedule .tab {
  color: rgba(173, 169, 187, 1);
}

main.dashboard section.schedule .card .all-schedule .tab.active {
  color: rgba(87, 132, 186, 1);
}

@media (min-width: 992px) {
  main.dashboard .schedule-container {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  main.dashboard .schedule-container {
    width: 100%;
  }

  main.dashboard .schedule-container.student {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  main.dashboard section.schedule .card .date-header .calendar-icon {
    padding-right: 1rem;
    padding-left: 1rem;
    height: 2.2rem;
  }

  main.dashboard section.schedule .card .date-body {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-top: 0.4rem;
    margin-bottom: 0rem;
  }

  main.dashboard section.schedule .card .date-body .date-item {
    width: 2.2rem;
  }

  main.dashboard section.schedule .card .date-body .date-item span {
    font-size: 1.4rem;
  }

  main.dashboard section.schedule .card .date-body .date-item span.day-name {
    margin-bottom: 1%;
  }

  main.dashboard section.schedule .card .all-schedule {
    font-size: 1.3rem;
    font-style: "normal";
  }
}
